body {
  background: #32beed;
  font-family: 'Architects Daughter', cursive, 'Open Sans', sans-serif;
  font-size: 2em;
}
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.date {
  font-size: 0.75em;
  max-height: 80px;
}

#current-date {
  margin-top: 0px;
  font-size: 1.5em;
}

#clockWrapper {
  display: flex;
}

#current-time {
  min-width: 250px;
  align-items: center;
}

#displayHours {
  margin-right: 10px;
}

#displayMinutes {
  margin-left: -15px;
  margin-right: 8px;
}

#displaySeconds {
  margin-left: -10px;
}

.innerClockWrapper {
  font-size: 2em;
  display: inline;
  padding: 5px 10px 5px 10px;
}
