body {
	background: #32beed;
	font-family: 'Architects Daughter', cursive, 'Open Sans', sans-serif;
	display: flex;
	align-items: center;
}
.time {
	display: flex;
	justify-content: center;
	font-size: 60px;
	align-items: center;
	flex-grow: 1;
}
.date {
	display: flex;
	justify-content: center;
	align-items: center;
}
